
@mixin menuitem{
    position: absolute;
    top: 29rem;
    min-height: 50rem;
    width: 100%;
    background-color: $background;
    border-radius: 3rem 3rem 0 0;
    z-index: 1;
    padding: 3rem;
}