%nav{
    display: flex;
    flex-direction: row;
      flex: 1  1;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      flex-grow: 1;
        padding: 2rem 0rem 2rem 0;
}

%btnscan{
  transform-origin: right;
  transition: transform $AnimationDuration;
  border-radius: 0 1rem 1rem 0;
  opacity: 0;
  right: 0;
  position: absolute;
  width: 29%;
  transform: scaleX(0) ;
  height: 5.0rem;
  color: $neutral;
  background-color: $tertiaire;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: $boxShadow;
}
%icon{
  transform: rotate(-360deg);
  transition: transform $AnimationDuration 50ms;
}

%card{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.89rem;
  transition: width 2000ms;
  border-radius:  1rem;
  background-color: $neutral;
  box-shadow: $boxShadow;
  font-family: $font_heading;
  line-height: $lineHeight;
  opacity: 0;
  transform: translateY(-30px);
}

%prix{
  margin-top: 1.4rem;
  font-weight: map-get($map: $font-weights , $key: bold);
}
%overflowText{
  color: $color;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
%cardHovering{
  cursor:pointer;
  width:71.5%;
  border-radius: 1rem 0 0 1rem;
}

          